<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dylan Tobia</title>
    <!--bower:css-->
    <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap-theme.css'/>
    <link rel='stylesheet' href='/lib/font-awesome/css/font-awesome.min.css'/>
    <!--endbower-->
    <!--inject:css-->
    <link rel="stylesheet" href="/css/main.css">
    <!--endinject-->


    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

    <!--<script src="/lib/jquery/dist/jquery.js"></script> -->


</head>

<body data-spy="scroll" data-offset="0" data-target="#theMenu">

<!-- Menu -->
<nav class="menu" id="theMenu">
    <div class="menu-wrap">
        <h1 class="logo"><a href="#home" class="smoothScroll">Dylan Tobia</a></h1>
        <i class="icon-remove menu-close"></i>
        <a href="/" class="smoothScroll">Home</a>
        <a href="/about" class="smoothScroll">About</a>
        <a href="/projects" class="smoothScroll">Projects</a>
        <a href="/contact" class="smoothScroll">Contact</a>
        <a href="#extras" class="smoothScroll">Extras</a>
        <a href=<%= user ? "/auth/logout" : "/auth/login" %>><%= user ? "Logout" : "Login" %></a>
    </div>

    <!-- Menu button -->
    <div id="menuToggle"><i id="toggleIcon" class="fa fa-caret-left"></i></div>
</nav>


<!-- ========== HEADER SECTION ========== -->
<section id="home" name="home"></section>
<div id="headerwrap">
    <div class="container">
        <br>
        <div class="row">
            <h1>Dylan Tobia</h1>
            <br>
            <h3>Software Engineer</h3>
            <div class="col-lg-6 col-lg-offset-3">
            </div>
        </div>
    </div><!-- /container -->
</div><!-- /headerwrap -->


<!-- ========== ABOUT SECTION ========== -->
<section id="about" name="about"></section>
<div id="f">
    <div class="container">
        <div class="row">
            <h3>ABOUT</h3>
            <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i
                        class="icon icon-circle"></i></p>

            <!-- INTRO INFORMATIO-->
            <div class="col-lg-6 col-lg-offset-3">
                <p>Dylan Tobia is a recent University of Arizona Graduate, with a bachelors in Computer Science.</p>
                <p>His <a href="https://github.com/djtobia" target="_blank">Github</a></p>
                <p>His <a href="https://www.linkedin.com/in/dylantobia" target="_blank">Linked In</a></p>
                <p>Dylan is always looking for new opportunities.</p>
                <p>
                    <a href="/about">
                        <button type="button" class="btn btn-warning">More About Dylan</button>
                    </a>
                </p>
            </div>
        </div>
    </div><!-- /container -->
</div><!-- /f -->


<!-- ========== CAROUSEL SECTION ========== -->
<section id="projects" name="projects"></section>
<div id="f">
    <div class="container">
        <div class="row centered">
            <h3>SOME PROJECTS</h3>
            <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i
                        class="icon icon-circle"></i></p>

            <div class="col-lg-6 col-lg-offset-3">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active centered">
                            <% var i = 0; %>
                            <h3><%= projects[i].name %></h3>
                            <p><%= projects[i].desc %></p>
                            <a href="/projects/<%= projects[i]._id %>">More Information</a><br/>
                            <a href="<%= projects[i].link %>">Github Repository</a> <br/> <br/>
                            <%- images[i] %>
                            <br/>
                            <br/>
                            <% i++; %>
                        </div>
                        <div class="item centered">
                            <h3><%= projects[i].name %></h3>
                            <p><%= projects[i].desc %></p>
                            <a href="/projects/<%= projects[i]._id %>">More Information</a><br/>
                            <a href="<%= projects[i].link %>">Github Repository</a>
                            <br/><br/>
                            <%- images[i] %>
                            <br/>
                            <br/>
                            <% i++; %>
                        </div>
                        <div class="item centered">
                            <h3><%= projects[i].name %></h3>
                            <p><%= projects[i].desc %></p>
                            <a href="/projects/<%= projects[i]._id %>">More Information</a><br/>
                            <a href="<%= projects[i].link %>">Github Repository</a>
                            <br/><br/>
                            <%- images[i] %>
                            <br/>
                            <br/>
                            <% i++; %>
                        </div>
                    </div>
                    <br>
                    <br>
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                </div>
                <a href="\projects">
                    <button class="btn btn-warning">More Projects</button>
                </a>
            </div><!-- col-lg-8 -->
        </div><!-- row -->
    </div><!-- container -->
</div>    <!-- f -->

<!-- ========== CONTACT SECTION ========== -->
<section id="contact" name="contact"></section>
<div id="f">
    <div class="container">
        <div class="row">
            <h3>CONTACT ME</h3>
            <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i
                        class="icon icon-circle"></i></p>

            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <a href="/contact">
                        <button type="button" class="btn btn-warning">Contact</button>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<section id="extras" name="extras"></section>
<div id="f">
    <div class="container">
        <div class="row">
            <h3>EXTRA STUFF</h3>
            <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i
                        class="icon icon-circle"></i></p>

            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <a href="/extras">
                        <button type="button" class="btn btn-warning">Click here to go to my extras page!</button>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--bower:js-->
<script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/lib/angular/angular.js"></script>
<!--endbower-->


<!--inject:js-->
<script type="text/javascript" src="/js/classie.js"></script>
<script type="text/javascript" src="/js/contact.js"></script>
<script type="text/javascript" src="/js/insertProjectApp.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/smoothscroll.js"></script>
<script type="text/javascript" src="/js/userApp.js"></script>
<!--endinject-->


</body>
</html>
